/* Zig zag layout */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* Header */
header {
    background-color: #2a607c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}
/* Nav aligned to right */
nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    margin-right: 20px;
}

h1 {
    color: #ffffff;
    display: inline-block;
    font-size: 48px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

img {
    max-height: 200px;
}

footer {
    clear: both;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    margin-bottom: 0px;
}
/* Class tags section */
.benefits-info {
    color: #ffffff;
    margin-bottom: 32px;
}

.benefits-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content-info {
    background-color: #0072bb;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}
/* Images placed left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* ID tags section */
/* Images placed right */
#float-right {
    float: right;
    margin-left: 25px;
}

#seo {
    color: #d9dcd6;
}
/* Hero stretches across the top of the website */
#hero {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    height: 800px;
    width: 100%;
}

#content {
    display: inline-block;
    margin-left: 20px;
    width: 75%;
}
/* Benefits placed within sidebar */
#benefits {
    background-color: #2589bd;
    clear: both;
    float: right;
    margin-right: 20px;
    padding: 20px;
    height: 100%;
    width: 20%;
}